.App {
    text-align: center;
    width: 100vw!important;
    height: 100vh!important;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  
  body
  {
    margin: 0;
    width: 100%!important;
    padding: 0;
  }
  .container
  {
    text-align: 'center';
    justify-content: center;
  }